.AgregarTareas {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.AgregarTareas input[type="text"] {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.AgregarTareas input[type="text"]:focus {
  border-color: #4CAF50;
  outline: none;
}

button {
  width: 100%;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
}
